@import "tailwindcss";
@import "@nuxt/ui";




#__nuxt {
  .maplibregl-popup-close-button {
    @apply px-2;
  }

  .maplibregl-popup-content {
    @apply dark:text-white dark:bg-gray-800;
  }

  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip,
  .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
    @apply dark:border-t-gray-800;
  }

  .maplibregl-popup-anchor-top .maplibregl-popup-tip,
  .maplibregl-popup-anchor-top-right .maplibregl-popup-tip,
  .maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
    @apply dark:border-b-gray-800;
  }

  .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    @apply dark:border-r-gray-800;
  }

  .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    @apply dark:border-l-gray-800;
  }
}


/* .location-list {
  @apply flex flex-nowrap mt-4 gap-2 overflow-auto;
} */

/* .page-content-top {
  @apply p-4 min-h-72;
} */